#typesRow {
    display: flex;
    align-items: center;
    border: solid black;
}

#card {
    height: 40rem;
}

#typesRow span{
    color: white;
    padding: 0 8%;
}
#typesRow div {
    padding: 2% 0px;
}

/* 28% */
#leukemia {
    flex: 28%;
    background-color: red;
}

/* 26% */
#cns{
    flex: 26%;
    background-color: olivedrab;
}

/* 8% */
#lymphomas {
    flex: 8%;
    background-color: indigo;
}

/* 6% */
#neuroblastoma { 
    flex: 6%;
    background-color: blue;
}

/* 5% */
#wilms {
    flex: 5%;
    background-color: green;
}

/* 3 */
#rhabdomyosarcoma {
    flex: 3%;
    background-color: orange;
}

/* 3% */
#bonecancer {
    flex: 3%;
    background-color: darkslategray;
}

/* 2% */
#retinoblastoma {
    flex: 2%;
    background-color: coral;
}

/* 19% */
#other {
    flex: 19%;
    background-color: rebeccapurple;
}

@media (max-width: 1200px) {
    #typesRow span:not(.stay) {
        color: transparent;
    }
}

.selected {
    filter: brightness(70%);
}
.hidden {
    display: none;
}